<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4 float-left">
      <img src="assets/imagenes/boss.png">
    </div>
    <div class="col col-lg-6">
    	<div class="text-center empresa">
			<img class="rounded rounded-sm" src="assets/imagenes/Modelamiento sw.png">
		</div>
      	<div class="card">
        	<div class="card-body">
	            Hola {{ nombre }}!
      				Bienvenido a SEACONT SAS.<br>
      				Es para nosotros un placer contar con sus servicios como aprendiz en esta empresa.<br>
      				Espero que podamos conformar un gran equipo de trabajo.<br>
      				Dejeme contarle acerca de nuestra empresa.......
	        </div>
        <a href="#" class="btn btn-info"  [routerLink]="['/seacontdetalle']">Siguiente</a>
      </div>
    </div>
  </div>
</div>