<div class="container" *ngIf="empresa == 1">
	<h2>Empresa SEACONT</h2>
</div>
<div class="container" *ngIf="empresa == 2">
	<div class="row justify-content-md-center">
  		<div class="col-lg-4 float-lg-left">
	    	<a href="" class="logoempresa btn" [routerLink]="['/moto']"><img src="assets/imagenes/motos.png"></a>
	    </div>
	    <div class="col col-lg-4">
	    	
	    </div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-lg-6 float-left">
	      <img src="assets/imagenes/boss.png">
	    </div>
	    <div class="col col-lg-6" *ngIf="preguntanex == 0">
	    	<div class="text-center empresa">
				
			</div>
	      	<div class="card">
	        	<div class="card-body">
		            Te  voy  a  realizar  una  serie  de  preguntas acerca  de  nuesta  empresa  para  saber  si tienes  claro  algunos  aspectos  acerca  de ella.
		        </div>
	        <button class="btn btn-info" (click)="siguientePregunta()">Siguiente</button>
	      </div>
	    </div>
	    <div class="col col-lg-6" *ngIf="preguntanex == 1">
	    	<div class="text-center empresa">
			</div>
	      	<div class="card">
	        	<div class="card-body">
		    		<form>
		    			<div class="form-group">
		    				<label> A que sector de la economía pertenece la empresa?</label>
		    				<select class="form-control" >
		    					<option *ngFor="let respuesta of respuestas" value="{{respuesta.valor}}">{{ respuesta.muestraValor }}</option>
		    				</select>
		    			</div>
		    			
		    		</form>
		    		<button class="btn btn-info" (click)="siguientePregunta()">Siguiente</button>
		        </div>
	      </div>
	    </div>
	    <div class="col col-lg-6" *ngIf="preguntanex == 2">
	    	<div class="text-center empresa">
				
			</div>
	      	<div class="card">
	        	<div class="card-body">
		    		su respuesta es  correcta es {{ respuestaCorrecta }}
		        </div>
	        <a href="#" class="btn btn-info"  [routerLink]="['/modulo',2]">Siguiente</a>
	      </div>
	    </div>
	</div>
</div>