<div class="container" *ngIf="empresa == 1">
	
</div>

<div class="container" *ngIf="empresa == 2">
	<div class="row justify-content-md-center">
  		<div class="col-lg-4 float-lg-left">
	    	<a href="" class="logoempresa btn" [routerLink]="['/moto']"><img src="assets/imagenes/motos.png"></a>
	    </div>
	    <div class="col col-lg-4">
	    	
	    </div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-lg-6 float-left">
	      <img src="assets/imagenes/boss.png">
	    </div>
	    <div class="col col-lg-6">
	    	<div class="text-center empresa">
				
			</div>
	      	<div class="card">
	        	<div class="card-body">
		            Seleccióna un tema para desarrollar una actividad:
		            <div class="row justify-content-md-center">
		            	<div class="col">
		            		<a href="" class="btn btn-info">Presupuesto</a>
		            	</div>
		            	<div class="col">
		            		<a href="" class="btn btn-info">Contable</a>
		            	</div>
		            </div>
		            <div class="row">
		            	<div class="co">
		            		
		            	</div>
		            	<div class="col">
		            		
		            	</div>
		            </div>
		            <div class="row justify-content-md-center">
		            	<div class="col">
		            		<a href="" class="btn btn-info">Servicio al Cliente</a>
		            	</div>
		            	<div class="col">
		            		<a href=""class="btn btn-info">Proyectos</a>
		            	</div>
		            	
		            </div>
		        </div>
	      </div>
	    </div>
	</div>
</div>