<div class="container">
	<div class="row">
  		<div class="col float-lg-left">
	    	<a href="" class="logoempresa" [routerLink]="['/seacont']"><img src="assets/imagenes/Modelamiento sw.png"></a>
	    </div>
	    <div class="col">
	    	
	    </div>
	    
	    <div class="col float-lg-right">
	    	<a href="" class="logodocumento"><img src="assets/imagenes/archivos.png"></a>
	    </div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col">
	    	<img src="assets/imagenes/oficina.png">
	    </div>
	    <div class="col">
	    	<p>
	    		La empresa Servicio y Asesorias Contables SeACont S.A.S., tiene como objeto social principal, actividades de contabilidad, teneduría de libros, auditoría financiera y asesoría tributaria, fue creada por 2 contadores y un ingeniero financiero el 10 de Septiembre de 2014, tal como consta en el certificado de la cámara de comercio de Santander, con un patrimonio inicial de $30.000.000.
	    	</p>
	    </div>

	</div>
	<div class="row ">
		    <div class="col">
		    	<h2>MISION</h2>
		    	<p>
		    		Nos dedicamos a la prestación de servicios profesionales en
					las áreas contable, laboral, tributaria y ﬁnanciera, cumpliendo
					n o r ma t i v i d a d ,  p r i n c i p i o s  g e n e r a l me n t e  a c e p t a d o s ,
					pronunciamientos, conceptos, entre otros, y ofreciendo un
					servicio eﬁciente, conﬁable y oportuno, en permanente
					búsqueda de entregar soluciones integrales que satisfagan
					las necesidades de nuestros clientes, de tal forma que
					encuentren en la ﬁrma un aliado estratégico en su desarrollo
					empresarial.
		    	</p>
		    </div>
		    <div class="col">
		    	<h2>VISION</h2>
		    	<p>
		    		Ser reconocida en el 2020 en Santander como una de las
					principales ﬁrmas prestadoras de servicios profesionales de
					consultoría; en las áreas contables y tributarias, mediante la
					investigación y el desarrollo permanente de competencias en
					nuestro recurso humano y tecnológico, siendo un aliado
					estratégico de nuestros clientes para alcanzar sus objetivos,
					brindando un continuo valor agregado, al acompañarlo en su
					gestión.
		    	</p>
		    </div>
	</div>
</div>
