<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-3">
	    	<img src="assets/imagenes/archivosempresa.png">
	    </div>
		<div class="col col-lg-6">
	      <div class="card">
	        <div class="card-body">
	        	Hola, Estas en el archivo de la empresa, aqui podras consultar y
				descargar los documentos que necesites acerca de la empresa:
	        </div>	        
	      </div>
	      <div class="col">
	      	<a href="#" class="descarga"><img src="assets/imagenes/DESCARGA.png"></a> NOMINA <br>
			<a href="#" class="descarga"><img src="assets/imagenes/DESCARGA.png"></a> ESTRUCTURA ORGANIZACIONAL <br>
			<a href="#" class="descarga"><img src="assets/imagenes/DESCARGA.png"></a> POLÍTICAS DE SERVICIO AL CLIENTE <br>
			<a href="#" class="descarga"><img src="assets/imagenes/DESCARGA.png"></a> PUC<br>
			<a href="#" class="descarga"><img src="assets/imagenes/DESCARGA.png"></a> ESTADOS FINANCIEROS<br>
			<a href="#" class="descarga"><img src="assets/imagenes/DESCARGA.png"></a> INVENTARIOS<br>
			<a href="#" class="descarga"><img src="assets/imagenes/DESCARGA.png"></a> SALARIOS<br>
	      </div>
	    </div>
	</div>
</div>
