<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
	      <img src="assets/imagenes/Slide1_Pic1_636256342167862599.png">
	    </div>
	    <div class="col col-lg-6">
	      <div class="card">
	        <div class="card-body">
	            Felicidades!
				Acabas de ser recibir dos ofertas de empleo para realizar tu
				contrato de aprendizaje para tu etapa productiva de dos de las 
				mas grandes empresas de la ciudad.
				Seleccióna en cual de ellas deseas relizar tu actividad:
				<div class="row justify-content-md-center">
					<div class="clearfix"></div>
			        <div class="col-sm-6 text-center float-sm-left empresa">
			          <a href="#" class=""  [routerLink]="['/moto']"><img class="rounded float-left rounded-sm" src="assets/imagenes/motos.png"></a>
			        </div>
			        <div class="clearfix"></div>
			        <div class="col-sm-6 text-center float-sm-right empresa2">
			          <a href="#" class=""  [routerLink]="['/seacont']"><img class="rounded float-right rounded-sm" src="assets/imagenes/Modelamiento sw.png"></a>
			        </div>
				</div>
	        </div>
	      </div>
	    </div>
	</div>
</div>