<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <img src="assets/imagenes/Slide1_Pic1_636256342167862599.png">
    </div>
    <div class="col col-lg-6">
      <div class="card">
        <div class="card-body">
            H o l a   {{ nombre }},  B i e n v e n i d o .
            Este software te permitirá  medir que tan bien estas
            preparado para comenzar tu etapa lectiva. Esto será
            mediante a la presentación de casos a los que te podrás
            enfrentar que te darán la oportunidad mediante un ambiente
            vi rtual  si mul ado y control ado de reforzar conceptos,
            capaci dades de anál i si s y de t oma de deci si ones.

        </div>
        <a href="#" class="btn btn-info"  [routerLink]="['/empresa']">Siguiente</a>
        
      </div>
    </div>
  </div>
</div>